

<ul class="nav nav-list nav-justified">
  <% entries.each(function(entry) { %>
    <li>
      <a href="#feeds/<%= entry.get('feed_id') %>/entries/<%= entry.id %>" id="<%= entry.get('feed_id') %>-<%= entry.id %>"><%= entry.get('title') %></a>
    </li>
  <% }); %>
</ul>
